<div class="row">
  <form class="col s12 m7" #form="ngForm" (ngSubmit)="submit(form.value)" novalidate>
    <div class="card">
      <div class="card-content grey-text text-darken-4">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">account_circle</i><input
            [ngClass]="!form.valid && !form.pristine && !form.untouched ? 'invalid' : 'validate'"
            #name="ngModel"
            id="name"
            name="name"
            required minlength="3"
            ngModel>
            <p *ngIf="name.errors?.required && !name.pristine && !name.untouched">
              Name is required
            </p>
            <p *ngIf="name.errors?.minlength">
              Name needs to be at least {{name.errors.minlength.requiredLength}} actual is
              {{name.errors.minlength.actualLength}}
            </p>
            <label class="active" for="name">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">email</i><input id="email" name="email" class="validate" ngModel>
            <label class="active" for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">phone</i><input id="phone" name="phone" class="validate" ngModel>
            <label class="active" for="phone">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">cake</i><input id="birthday" type="date" name="birthday" class="validate"
                                                            ngModel>
            <label class="active" for="birthday">Birthday</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">public</i><input id="website" name="website" class="validate" ngModel>
            <label class="active" for="website">Website</label>
          </div>
        </div>
        <fieldset ngModelGroup="address">
          <legend><i class="material-icons prefix">location_city</i> Address</legend>

          <div class="row">
            <div class="input-field col s12">
              <input id="street" type="text" name="street" class="validate" ngModel>
              <label class="active" for="street">Street</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="zip" type="text" name="zip" class="validate" ngModel>
              <label class="active" for="zip">Zipcode</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <input id="city" name="city" type="text" class="validate" ngModel>
              <label class="active" for="city">City</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="country" type="text" name="country" class="validate" ngModel>
              <label class="active" for="country">Country</label>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="card-action">
        <a class="btn">Cancel</a>
        <button type="submit" class="btn" [disabled]="!form.valid">Save</button>
      </div>
    </div>
  </form>
</div>
